.form-control {
    position: absolute;
    left: 35%;
    width: 20%;   
}
.heading {
    position: absolute;
    left: 10%;
    top: 20%;
    color: aliceblue;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: 3rem;
}

.btn-success {
    position: absolute;
    left: 58%;
    width: 10%;
}

.fa-cart-plus {
    position: absolute;
    left: 90%;
    top : 25%;
    color: aliceblue;
}

.fa-futbol {
    position: absolute;
    left: 7%;
    top: 20%;
    color: aliceblue;
}

.bg-danger {
    position: absolute;
    left: 91.7%;
    top : 25%;
    font-size: 9px;
}