<header class="bg-primary">
    <div class="navbar">
        <i class="fas fa-futbol" style="font-size: 40px;"></i>
        <h2 class="heading" >SuperMart</h2>
        <div class="form-group">
            <input type="text"  (keyup)="search($event)"  class="form-control" placeholder="Search product">
            <button class="btn btn-success">Search</button>
        </div>
        <button routerLink="/cart" class="btn">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div class = "badge bg-danger">2</div>
        </button>
    </div>
    
</header>
