
<div class="container">
    <div class="row">
        <div *ngFor="let obj of items" class="card col-md-4">
            <img src="{{obj.imageUrl}}"> &nbsp;
            <h5 style="text-overflow: ellipsis;">{{obj.p_name}}</h5>
            <p>₹{{obj.p_cost}}</p>
            <p>Available uniits &nbsp;{{obj.p_availability}}</p>
            <button class="btn btn-primary" (click)="add(obj)"> Add to cart</button>
        </div>
    </div>  
</div>